@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
  }


/* || BLOCKS */

html {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding:0;
    margin: 0;
    
}

p {
    margin-bottom: 2rem;
    line-height: 1.2;
}

.section {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.left-banner {
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    flex: auto;
    display: flex;
  
  
   
}

.logo {
    width: auto;
    height: 80%;
    object-fit: contain;

}

.form-side {
    flex: 4;
    padding-top: 100px;
}

.form-content {
    display: flex;
    margin-bottom: 2rem;
    gap: 3rem;
}

label {
    font-size: 0.75rem;
    font-weight: bold;
    color: rgb(71, 71, 71);
    text-transform: uppercase;
    
}

input {
    width: 250px;
    height: 1.8rem;
    color: rgb(53, 53, 53);
    border-radius: 0.4rem;
    border-width: 2px;
    border-color: #E5E7EB;
    margin-bottom: 1rem;
    border-style: solid;
    font-size: 1.5rem;
}

button {
    font-size: 1.25rem;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    border-style: none;
    background-color: #596D48;
    color: ivory;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}


.container {
    padding: 2rem 6rem;
}

/* || ELEMENT */
.form-border {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 3rem 6rem 0.5rem 6rem;
    margin-bottom: 1rem;
}

.left-banner__logo-container {
    height: 200px;
    margin-top: 200px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex: 1;
}

.left-banner__heading {
    font-family: norse-bold;
    font-size: 8rem;
    color: ivory;
}

.form-side__text {
    font-weight: bold;
    font-size: 1.25rem;
}
.form-col {
    padding: 0;
}

/* || MODIFIER */

input:focus {

    outline: 2px solid blue;
}

input:invalid {
    outline: 2px solid red;
}